/*General*/


/* Navigation */

#nav-bar {
    color: black;
    border-bottom: 1px solid #adadad;
    position: fixed;
    width: 100%;
    z-index: 10;
    background-color: #eaeded;
    height: 60px;
}

a.name-probee {
    float: left;
    top: 2%;
    margin-left: 10px;
}

h2 img {
    width: 40px;
}

h2 {
    font-family: 'Roboto Condensed', sans-serif;
    margin-left: 50px;
    padding-left: 10px;
}

#search-input {
    position: relative;
    padding-top: 10px;
    left: 7%;
}

#search-p {
    width: 35%;
}

.color-black {
    color: black;
}

ul#list-icons {
    position: absolute;
    right: 10px;
    margin-top: -4.5%;
}

i.fa-user {
    margin-top: -15px;
}

/*Main*/

#main-doc {
    max-height: fit-content;

}
#products{
    min-height: 10vh;
    max-height: fit-content;
}

#categories, #carouselExampleIndicators, #advertising, #products, #info-product {
    position: relative;
    top: 60px;
    padding: 20px;
}

#categories-title {
    background-color: #d1d1d1;
    color: black;
    border: 1px solid #dfdfdf;
}

.container-product {
    border: 1px solid transparent;
    display: inline-block;
    width: 33%;
    text-align: center;
}

.name-product {
    font-size: 10px;
}

button.descr-btn {
    margin: 20px;
}

#continue-btn {
    border-radius: 90px;
    padding: 0;
    width: 150px;
}

.fa-star {
    color: #F5C919;
}

.basic-account {
    width: 100%;
}

.card-text {
    font-size: 13px;
}

.fa-check-circle, .fa-times-circle  {
    font-size: 20px;
}

.fa-check-circle {
    color: green;
}

.fa-times-circle {
    color: grey;
}

.premium-logo {
    margin-top: 15px;
    margin-bottom: 15px;
}

.stars {
    margin-top: 20px;
}

/*Footer*/

footer {
    background-color: #d1d1d1;
    min-height: 40vh;
    max-height: fit-content;
    width: 100%;
    margin-top: 2.5em;
}

div.rights-reserved {
    background-color: #605f5f;
    height: 40px;
    color: white;
    margin-bottom: 5px;
}

i {
    padding: 5px;
    font-size: 25px;
}

.phrase-r {
    margin-left: 5%;
}

div.cont-footer {
    padding: 20px;
}

div ul li {
    list-style: none;
}

div ul a {
    text-decoration: none;
    color: black;
}

div ul a:active, a:link, a:visited {
    color: black;
    text-decoration: none;
}

.fa-facebook-square {
    color: #375899;

} 

.fa-twitter {
    color: #00aee8;
} 

.fa-youtube {
    color: red;
}

.newsletter {
    padding-top: 10px;
}

/* Media Query */

@media screen and (min-width:300px ) and (max-width:576px){
    a.logs {
        display: none;
    }
    span.icon-user {
        display: block;
    }
    i.fa-user {
        margin-top: -45px;
    }
    a.name-probee {
        margin-left: -35px;
    }
    .element-categ {
        display: none;
    }
    #products{
        min-height: 0;
    }
    #advertising {
        top: 10;
    }
    footer {
        height: fit-content;
    }
    h4.centr {
        text-align: center;
    }
    img.img-product {
        width: 100%;;
    }
}

@media screen and (min-width:577px ) and (max-width:1023px){
    a.logs {
        display: none;
    }
    span.icon-user {
        display: block;
    }
    .element-categ {
        display: block;
    }
    img.img-product {
        width: 100%;;
    }
    i.fa-user {
        margin-right: 25px;
    }
    .small-lett {
        font-size: 11px;
    }
    .btn-lg {
        padding: 5px;
    }
    #products{
        min-height: 30vh;
    }

}

@media screen and (min-width: 1024px ) and (max-width:2560px){
    a.logs {
        display: block;
    }
    span.icon-user {
        display: none;
    }
    .element-categ {
        display: block;
    }
    .btn-lg {
        padding: 5px;
    }
    img.img-product {
        width: 100%;;
    }

}
