/* Navigation */

#nav-bar {
    color: black;
    border-bottom: 1px solid #adadad;
    position: fixed;
    width: 100%;
    z-index: 10;
    background-color: white;
    height: 60px;
}

a.name-probee {
    float: left;
    top: 2%;
    margin-left: 10px;
}

h2 img {
    width: 40px;
}

h2 {
    font-family: 'Roboto Condensed', sans-serif;
    margin-left: 50px;
    padding-left: 10px;
}

#search-input {
    position: relative;
    padding-top: 10px;
    left: 7%;
}

#search-p {
    width: 35%;
}

.color-black {
    color: black;
}

ul#list-icons {
    position: absolute;
    right: 10px;
    margin-top: -4.5%;
}

/*Main*/

#main-doc {
    height: 80vh;
}

#categories, #carouselExampleIndicators, #advertising {
    position: relative;
    top: 60px;
    padding: 20px;
}

#categories-title {
    background-color: #d1d1d1;
    color: black;
    border: 1px solid #dfdfdf;
}

/*Footer*/

footer {
    background-color: #d1d1d1;
    height: 40vh;
    width: 100%;
}

div.rights-reserved {
    background-color: #605f5f;
    height: 40px;
    color: white;
    margin-bottom: 5px;
}

i {
    padding: 5px;
    font-size: 25px;
}

.phrase-r {
    margin-left: 5%;
}

div.cont-footer {
    padding: 20px;
}

div ul li {
    list-style: none;
}

div ul a {
    text-decoration: none;
    color: black;
}

div ul a:active, a:link, a:visited {
    color: black;
    text-decoration: none;
}

.fa-facebook-square {
    color: #375899;

} 

.fa-twitter {
    color: #00aee8;
} 

.fa-youtube {
    color: red;
}
